body {
    background-color: #1d273b;
}

.App {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    gap: 100px;
}

.counter {
    display: flex;
    border: 1px solid #0bd1fc;
    border-radius: 5px;
    background-color: #1d273b;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}


.activeButton {
    background-color: #0bd1fc;
    border-radius: 5px;
    border: none;
    color: #1d273b;
    font-size: 25px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

div {
    font-size: 40px;
    color: #0bd1fc;
}

.counterStyle {
    color: red;
    font-size: 40px;
}

.incorrectValue {
    color: red;
    font-size: 20px;
}

.focused {
    color: #0bd1fc;
    font-size: 20px;
}


.disabledButton {
    opacity: 0.5;
    background-color: #0d698a;
    border-radius: 5px;
    border: none;
    color: #1d273b;
    font-size: 25px;
    font-weight: bold;

    &:hover {
        cursor: not-allowed;
    }
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #1d273b;
    padding: 20px;
    border: 1px solid #0bd1fc;
    border-radius: 5px;
}

.counter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d273b;
    padding: 10px;
    border: 1px solid #0bd1fc;
    border-radius: 5px;
    font-weight: bold;
    height: 90px;
}

.value-wrapper {
    display: flex;
    gap: 50px;

}

input {
    width: 100px;
    height: 15px;
    border: 2px solid #0bd1fc;
    border-radius: 5px;

    &:focus {
        outline: none;
    }
}

.negativ-number-input {
    border: 2px solid red;
    background-color: #ef9797;

    &:focus {
        outline: none;
    }
}
