body {
    background-color: #1486af;
}

.App {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.counter {
    display: flex;
    border: 2px solid #b8eaf1;
    border-radius: 5px;
    background-color: #6ac6e7;
    padding: 20px;
}


.activeButton {
    background-color: #0d698a;
    border: 2px solid #b8eaf1;
    border-radius: 5px;
    color: white;
    font-size: 25px;

    &:hover {
        cursor: pointer;
    }
}

div {
  font-size: 35px;
  color: white;
}

.counter-style {
    color: red;
    font-size: 35px;
}

.disabledButton {
    opacity: 0.5;
    background-color: #0d698a;
    border: 2px solid #b8eaf1;
    border-radius: 5px;
    color: white;
    font-size: 25px;

    &:hover {
        cursor: not-allowed;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-wrapper {
    display: flex;
    gap: 20px;
    background-color: #1486af;
    padding: 20px;
    border: 2px solid #b8eaf1;
    border-radius: 5px;
}

.counter-wrapper {
    background-color: #1486af;
    padding: 10px;
    border: 2px solid #b8eaf1;
    border-radius: 5px;
}
