body {
  background-color: #1486af;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.counter {
  display: flex;
  border: 2px solid #b8eaf1;
  border-radius: 5px;
  background-color: #6ac6e7;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.activeButton {
  background-color: #1486af;
  border: 2px solid #b8eaf1;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  &:hover{
    cursor: pointer;
  }
}
div {
  font-size: 35px;
}

.counter-style {
  color: red;
  font-size: 35px;
}

.disabledButton {
  opacity: 0.5;
  background-color: #1486af;
  border: 2px solid #b8eaf1;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  &:hover{
    cursor: not-allowed;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-wrapper {
  display: flex;
  gap: 20px;
}
